@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* from https://ui.shadcn.com/docs/theming#default-theme-css */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-chart-6: var(--chart-6);
  --color-chart-7: var(--chart-7);
  --color-chart-8: var(--chart-8);
  --color-chart-9: var(--chart-9);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  /* fibery additions */
  --highlight-bg-yellow: var(--highlight-yellow-bg);
  --highlight-fg-yellow: var(--highlight-yellow-fg);
  --highlight-fg-on-bg-yellow: var(--highlight-yellow-fg-on-bg);
  --highlight-bg-green: var(--highlight-green-bg);
  --highlight-fg-green: var(--highlight-green-fg);
  --highlight-fg-on-bg-green: var(--highlight-green-fg-on-bg);
  --highlight-bg-aquamarine: var(--highlight-aquamarine-bg);
  --highlight-fg-aquamarine: var(--highlight-aquamarine-fg);
  --highlight-fg-on-bg-aquamarine: var(--highlight-aquamarine-fg-on-bg);
  --highlight-bg-aqua: var(--highlight-aqua-bg);
  --highlight-fg-aqua: var(--highlight-aqua-fg);
  --highlight-fg-on-bg-aqua: var(--highlight-aqua-fg-on-bg);
  --highlight-bg-blue: var(--highlight-blue-bg);
  --highlight-fg-blue: var(--highlight-blue-fg);
  --highlight-fg-on-bg-blue: var(--highlight-blue-fg-on-bg);
  --highlight-bg-purple: var(--highlight-purple-bg);
  --highlight-fg-purple: var(--highlight-purple-fg);
  --highlight-fg-on-bg-purple: var(--highlight-purple-fg-on-bg);
  --highlight-bg-pink: var(--highlight-pink-bg);
  --highlight-fg-pink: var(--highlight-pink-fg);
  --highlight-fg-on-bg-pink: var(--highlight-pink-fg-on-bg);
  --highlight-bg-red: var(--highlight-red-bg);
  --highlight-fg-red: var(--highlight-red-fg);
  --highlight-fg-on-bg-red: var(--highlight-red-fg-on-bg);
  --highlight-bg-grey: var(--highlight-grey-bg);
  --highlight-fg-grey: var(--highlight-grey-fg);
  --highlight-fg-on-bg-grey: var(--highlight-grey-fg-on-bg);
  --highlight-bg-violet: var(--highlight-violet-bg);
  --highlight-fg-violet: var(--highlight-violet-fg);
  --highlight-fg-on-bg-violet: var(--highlight-violet-fg-on-bg);
  --highlight-bg-turquoise: var(--highlight-turquoise-bg);
  --highlight-fg-turquoise: var(--highlight-turquoise-fg);
  --highlight-fg-on-bg-turquoise: var(--highlight-turquoise-fg-on-bg);
  --highlight-bg-orange: var(--highlight-orange-bg);
  --highlight-fg-orange: var(--highlight-orange-fg);
  --highlight-fg-on-bg-orange: var(--highlight-orange-fg-on-bg);
}

@utility highlight-* { background-color: --value(--highlight-bg-*); color: --value(--highlight-fg-on-bg-*); }
@utility text-* { color: --value(--highlight-fg-*); }
@utility border-* { border-color: --value(--highlight-fg-*); }
@utility fill-* { fill: --value(--highlight-fg-*); }
@utility stroke-* { stroke: --value(--highlight-fg-*); }

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background font-sans text-foreground;
  }
}

@tailwind utilities;
